@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}

:root {
  --gredient-color: #009ffd;
}

.same_width {
  margin: 90px auto 0px auto;
  width: 1154px;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.top-header-section {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 3;
  display: none;
}

.banner-image img {
  width: 100%;
  height: 620px;
  display: block;
}

.banner-container {
  position: relative;
}

.banner-title-folder {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.top-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.logo h2 {
  font-size: 40px;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  font-size: 16px;
  text-decoration: none;
  margin: 0px 10px;
  color: white;
}

.top-header-section-folder {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 12;
}

.top-header-wrapper-folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.logo-folder h2 {
  font-size: 40px;
  color: white;
}

.menu-folder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-folder li {
  list-style: none;
}

.menu-folder li a {
  font-size: 16px;
  text-decoration: none;
  margin: 0px 10px;
  color: white;
}

.show-btn {
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
  font-size: 30px;
  z-index: 4;
  display: none;
}

/* Top header section end */

/* banner css starts from here */
.banner-image img {
  width: 100%;
  height: 675px;
  display: block;
}

.banner-container {
  position: relative;
}

.banner-title-folder {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.banner-left-section {
  width: 45%;
  background: rgb(237 237 237 / 7%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 246px;
  padding-bottom: 30px;
}

.banner-title {
  font-size: 141px;
  width: 455px;
  margin-right: 0px;
  margin-left: auto;
  color: white;
  transform: translateY(37px) !important;
  font-weight: 900;
}

.banner-right-section h2 {
  font-size: 141px;
  width: 371px;
  text-align: end;
  color: white;
  transform: translateY(102px) !important;
  letter-spacing: 5px;
}

.banner-des-conatiner {
  display: flex;
  gap: 40px;
  max-width: 383px;
  margin: 0px auto 0px auto;
  color: white;
}

.banner-des-folder1 h2 {
  font-size: 25px;
}

.banner-des-folder2 h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.banner-des-folder2 p {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 17px;
}

.banner-des-folder2 a {
  border: 1px solid;
  padding: 6px 14px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  border-radius: 7px;
}

.banner-right-section {
  width: 55%;
  display: flex;
  align-items: center;
  background: rgb(237 237 237 / 7%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
}

.banner-right-image img {
  width: 158px;
  margin-left: -74px;
  position: relative;
  z-index: 3;
  margin-top: -14px;
}
.curtain {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.curtain__wrapper input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  top: 0;
  left: 0;
}

.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}

.curtain__panel {
  display: flex;
  align-items: center;
  color: #fff;
  float: left;
  position: relative;
  width: 50%;
  height: 100vh;
  transition: all 1s ease-out;
  z-index: 2;
}

.curtain__panel--left {
  justify-content: flex-end;
  transform: translateX(-100%);
}

.curtain__panel--right {
  justify-content: flex-start;
  transform: translateX(111%);
}

.curtain__content {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 107vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.curtain__content img {
  width: 100%;
}
.banner-right-image {
  position: absolute;
  top: 45%;
  left: 5%;
  right: 0%;
  margin: auto;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  justify-content: center;
}
.banner-container {
  position: relative;
}
.curtain__wrapper
  input[type="checkbox"]:not(:checked)
  ~ div.banner-right-image {
  opacity: 0;
  transition: all 1s ease-out;
}
.scroll-arrow {
  position: absolute;
  bottom: 3%;
  left: 0%;
  right: 0%;
  margin: auto;
  transform: translateY(-50%);
  z-index: 13;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
/* banner end here */

/* Tour Card css starts */
.container {
  font-size: 1rem;
  font-weight: 600;
}

.card-wrapper {
  width: 366px !important;
  box-shadow: 0px 3px 13px #dddddd;
}

.img-div {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.img-div {
  width: 100%;
  height: 224px;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 26px 15px 40px 15px;
}

.travel-info {
  margin-bottom: 14px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.travel-info p {
  margin: 1px 0px 0px -4px;
  font-size: 15px !important;
  color: #676767;
}

.Tour-section {
  padding: 0px 0px 50px 0px;
  max-width: 1154px;
  margin: 0px auto;
  margin: 70px auto 0px auto;
}
.Tour-section h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0px 0px 0px 17px;
  color: #535557;
}
.card-des {
  font-size: 15px !important;
  margin: 14px 0px 20px 0px !important;
  color: #676767;
}
.card-btn {
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 0px;
  color: white;
  background-color: #54b7d1;
}
.slick-slide:nth-child(odd) .card-wrapper .card-btn {
  background-color: #ec6170;
}
.slick-slide:nth-child(odd) .card-wrapper .price-folder p span {
  background-color: #ec6170;
}
.tour-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin: 12px 0px 20px 10px;
}
.tour-filter button {
  padding: 9px 32px;
  font-size: 17px;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  box-shadow: 0px 2px 15px #e9e9e9;
  color: #676767;
  cursor: pointer;
}
.Tour-section .container .slick-slide {
  margin-bottom: 15px;
  padding-left: 10px;
}
.Tour-section .container .slick-prev {
  left: 7px;
  top: 104%;
}
.Tour-section .container .slick-next {
  top: 104%;
  left: 70px;
}
.Tour-section .container .slick-next:before,
.Tour-section .container .slick-prev:before {
  font-size: 53px;
  line-height: 1;
  opacity: 1;
  color: #676767;
}
.card-price{
  font-size: 24px;
  color: #535557;
}
/* Tour Card css end */

/* About Us css starts */
.about_us_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about_us_left {
  width: 400px;
}

.about_us_wrapper img {
  width: 315px;
  max-width: 100%;
  height: 280px;
  display: block;
}
.about_us_title h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: -2px;
}

.about_us_title span {
  margin-top: 5px;
  font-weight: 600;
}
.about_us_wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

.about_us_image {
  margin-left: 0%;
}

.about_us_left {
  width: 740px;
  background: white;
  color: #535557;
  box-shadow: 0px 1px 6px #d1d1d1;
  padding: 33px 45px;
  border-radius: 10px;
  position: absolute;
  top: 14%;
  left: 0;
}
.about_us_content p {
  max-width: 100%;
  width: 645px;
  margin: 10px auto 0px auto;
  line-height: 2;
  font-size: 15px;
}
.about_us_right img:nth-child(2) {
  display: none;
}
.about_us_wrapper img {
  width: 600px;
  max-width: 100%;
  height: 418px;
  display: block;
}
/* about us css ends */

/* Contact Us Css starts */
.book-tour-folder {
  max-width: 1152px;
  margin: 0px auto;
  padding: 50px 30px;
  background: url("../images/book-tour-background.jpg") 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 100px;
}

.book-tour-form {
  max-width: 500px;
  padding: 42px 25px 37px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  background-color: white;
}

.input-contenar {
  display: flex;
  gap: 20px;
}

.input-folder {
  max-width: 215px;
  position: relative;
}

.inner-input {
  padding: 15px 0px 15px 20px;
  font-size: 18px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #e6e2e3;
  color: #757072;
}

.input-icons {
  position: absolute;
  top: 44%;
  right: 6%;
  transform: translateY(-50%);
  font-size: 18px;
  color: rgb(81, 145, 250);
  display: flex;
}

.inner-Massege {
  padding: 15px 0px 15px 20px;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #e6e2e3;
  color: #757072;
}

.Book-tour-submit-btn-folder {
  padding: 0px 0px;
  justify-content: center;
  gap: 14px;
  border-radius: 15px;
  border: 1px solid #e6e2e3;
  width: 100%;
  height: 50px;
}

.Book-tour-submit-btn-folder a {
  text-decoration: none;
  color: #1980f5;
}

.submit-btn {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
  0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
  inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  width: 100%;
}

.submit-btn:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.submit-btn:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

.book-tour-form h2 {
  font-size: 48px;
  color: #535557;
}

.book-tour-form p {
  font-size: 18px;
  margin: -10px 0px 10px 0px;
  color: #757072;
}

.book-tour-section {
  margin-bottom: 30px;
}

.Get-Inspired-to-The-Collaboration {
  max-width: 1152px;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 44px 0px;
  margin-top: 40px;
  border-radius: 11px;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  color: white;
}

.Get-Inspired-image img {
  width: 159px;
  margin-bottom: 19px;
}
.footer-background-folder span {
  font-size: 19px;
}
.footer-background-folder h2 {
  font-size: 48px;
  margin: 15px 0 25px;
}

.Get-Inspired-call-folder {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.call-folder,
.Appointment-folder {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  font-size: 18px;
  gap: 15px;
  padding: 14px 20px;
}

.call-folder a,
.Appointment-folder a {
  text-decoration: none;
  color: rgb(81, 145, 250);
}

.call-btn,
.Appointment-btn {
  color: black !important;
}
/* contact us css end */

/* footer start */
.footer-background-folder {
  text-align: center;
  padding: 75px 0px 0px 0px;
  height: 500px;
  background: url(../images/footer-background-image.avif) 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.footer-background-folder h2 {
  font-size: 39px;
  margin: 10px 0px 50px 0px;
}
.footer-background-folder p {
  margin: 0px 0px 0px 0px;
  font-size: 19px;
}
.footer-container-wrapper {
  max-width: 1211px;
  margin: 0px auto;
  justify-content: center;
  gap: 100px;
  padding: 75px 0px 30px 0px;
  box-shadow: 0px 4px 12px #c3c3c378;
  margin-top: -90px;
  position: relative;
  z-index: 12;
  background-color: white;
}
.footer-conatiner {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 90px 0px 66px 0px;
  margin-top: -90px;
  background-color: white;
}
.footer-container-wrapper span{
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #757072;
}
.footer-container-wrapper span a{
  text-decoration: none;
  color: #757072;
  margin: 0px 5px;
}
.footer-container-wrapper span a:hover{
  color: rgb(81, 145, 250);
}
.footer-folder1 h2,
.footer-folder2 h2 {
  font-size: 23px;
  margin-bottom: 12px;
  color: #535557;
}
.footer-folder1 p {
  font-size: 13px;
  max-width: 325px;
  color: #757072;
}
.footer-folder2 {
  display: flex;
  flex-direction: column;
}
.footer-folder2 a {
  margin-bottom: 2px;
  color: #757072;
  text-decoration: none;
  font-size: 14px;
}
.footer-iocn {
  margin-top: 13px;
  display: flex;
  gap: 14px;
}
.footer-iocn a {
  font-size: 21px;
  color: rgb(81, 145, 250);
}
/* footer end */

/* aboutus terms and condition section || terms-condition-section || Privacy-policy-section || Refund-policy-section all pages start*/
.aboutus-terms-condition-banner, 
.terms-condition-banner{
  position: relative;
}
.aboutus-banner-image img, 
.terms-condition-banner-image img{
  width: 100%;
  height: 420px;
  filter: brightness(0.9);
}
.aboutus-banner-image-title, 
.terms-condition-banner-image-title{
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;
  margin: auto;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 52px;
}
.aboutus-terms-condition-title, 
.terms-condition-title{
  max-width: 646px;
  font-size: 24px;
  margin: 30px 0px 19px 0px;
  color: #535557;
}
.aboutus-terms-condition-wrapper p, 
.terms-condition-wrapper p{
  font-size: 15px;
  line-height: 30px;
  color: #757072;
}
.terms-condition-wrapper p{
  margin: 30px 0px 30px 0px;
}
.aboutus-terms-condition-text-container, 
.terms-condition-text-container{
  max-width: 1152px;
  margin: 0px auto;
}
.aboutus-client-folder{
  width: 249px;
  text-align: center;
  padding: 33px 0px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #e5e5e5;
}
.aboutus-client-numbers{
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}
.aboutus-client-numbers a{
  font-size: 25px;
  color: #5191fa;
}
.aboutus-client-numbers span{
  font-size: 27px;
  font-weight: 900;
  color: #535557;
}
.aboutus-client-folder h2{
  font-size: 19px;
  color: #757072;
}
.aboutus-client-conatiner {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin: 70px 0px 50px 0px;
}
/* aboutus terms and condition section || terms-condition-section || Privacy-policy-section || Refund-policy-section all pages end*/
.banner-section {
  overflow: hidden;
}
.banner-mobile {
  display: none;
}
.page-costa-rica-entry-r-equirements .logo-folder h2 , 
.page-costa-rica-entry-r-equirements .menu-folder li a{
  color: black !important;
}

/* responsive start */
@media only screen and (min-width: 1400px){
  .banner-title {
    transform: translateY(-95px) !important;
  }
  .Tour-section {
    padding: 20px 0px 50px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .top-header-section {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 14;
  }

  .top-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .show-btn {
    position: absolute;
    top: 3%;
    right: 3%;
    color: white;
    font-size: 25px;
    z-index: 15;
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 19px;
  }

  .menu li {
    margin: 5px 0px;
  }

  .menu li a {
    font-size: 29px;
  }
}

@media only screen and (max-width: 767px) {
  .banner-title {
    font-size: 60px;
    width: 179px;
    transform: translateY(50px) !important;
    font-weight: 900;
    background-clip: text;
    -webkit-text-fill-color: white;
  }

  .banner-right-section h2 {
    font-size: 61px;
    width: 82px;
    transform: translateY(0px) !important;
    margin-left: 9px;
    font-weight: 900;
  }

  .banner-left-section {
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    background: rgb(86 86 86 / 28%);
  }

  .banner-right-section {
    width: 49%;
    transform: translateY(-79px);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  .curtain__wrapper input[type="checkbox"]{
    display: none;
  }
  .banner-right-image {
    position: absolute;
    top: 33.6%;
    left: 20%;
  }
  .banner-right-image img {
    width: 144px;
  }

  .banner-image img {
    width: 100%;
    height: 663px;
    display: block;
  }

  .banner-des-conatiner {
    position: absolute;
    bottom: 10%;
    left: 6%;
    width: 322px;
  }

  .Tour-section h2 {
    max-width: 100%;
    text-align: center;
    margin: 0px 0px 26px 0px;
  }

  .book-tour-folder {
    width: 366px;
    max-width: 100%;
    margin: 0px auto;
    padding: 40px 16px;
    background-position: center;
  }

  .book-tour-form {
    width: 327px;
    padding: 35px 20px 20px 20px;
    gap: 20px;
  }

  .book-tour-form h2 {
    font-size: 35px;
  }

  .book-tour-form p {
    font-size: 15px;
  }

  .input-contenar {
    display: flex;
    gap: 10px;
  }

  .inner-input {
    padding: 14px 0px 14px 11px;
    font-size: 13px;
  }

  .inner-Massege {
    padding: 15px 0px 15px 20px;
    font-size: 14px;
  }

  .submit-btn {
    font-size: 16px;
  }

  .input-icons {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    font-size: 15px;
  }

  .show-btn {
    font-size: 20px;
  }

  .menu li a {
    font-size: 23px;
  }

  .menu li {
    margin: 3px 0px;
  }

  .menu {
    margin-top: 7px;
  }

  .logo h2 {
    font-size: 32px;
  }

  .about_us_wrapper {
    display: block;
  }

  .same_width {
    width: 100%;
    margin: 0;
  }
  .about_us_wrapper img,
  .about_us_title {
    width: 100%;
    margin: 0px;
    margin-bottom: 23px;
    height: auto;
  }
  .top-header-section-folder {
    display: none;
  }
  .about_us_right img:nth-child(2) {
    margin: 0px auto;
  }
  .about_us_title h2 {
    font-size: 32px;
  }
  .about_us_title span {
    font-size: 16px;
    font-weight: 600;
  }
  .about_us_content p {
    max-width: 342px;
    margin-left: 0px;
    line-height: 1.9;
    font-size: 15px;
    margin-top: 16px;
  }
  .about_us {
    width: 366px;
    margin: 0px auto;
  }
  .about_us_right {
    margin-top: 29px;
  }
  .call-folder,
  .Appointment-folder {
    font-size: 16px;
    width: 174px;
    margin: 0px auto;
  }
  .Get-Inspired-call-folder {
    display: flex;
    flex-direction: column;
  }
  .footer-background-folder h2 {
    font-size: 33px;
    margin: 10px 0px 38px 0px;
  }
  .footer-background-folder span {
    font-size: 16px;
  }
  .book-tour-section {
    margin-top: 40px;
  }
  .footer-conatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
    padding: 51px 16px;
  }
  .about_us_left {
    width: 100%;
  }
  .tour-filter button {
    padding: 10px 21px;
    font-size: 14px;
  }
  .tour-filter {
    gap: 11px;
    margin: 0px 0px 29px 0px;
    justify-content: center;
  }
  .banner-image {
    display: none !important;
  }
  .banner-mobile {
    display: block !important;
  }
  .Tour-section {
    padding: 45px 0px 50px 0px;
    max-width: 387px;
  }
  .footer-folder1 h2,
  .footer-folder2 h2 {
    font-size: 28px;
  }
  .footer-folder1 p {
    font-size: 15px;
    max-width: 378px;
  }
  .footer-folder2 a {
    font-size: 16px;
  }
  .footer-iocn a {
    font-size: 26px;
  }
  .footer-container-wrapper span {
    font-size: 9px;
  }
  .footer-container-wrapper span a {
    margin: 0px 3px;
  }
  .aboutus-banner-image img, 
  .terms-condition-banner-image img{
    width: 100%;
    height: 218px !important;
  }
  .aboutus-banner-image-title, 
  .terms-condition-banner-image-title{
    font-size: 28px !important;
  }
  .aboutus-terms-condition-wrapper p, 
  .terms-condition-wrapper p{
    font-size: 14px !important;
    line-height: 27px !important;
  }
  .aboutus-terms-condition-text-container, 
  .terms-condition-text-container{
    max-width: 342px !important;
  }
  .aboutus-terms-condition-title, 
  .terms-condition-title{
    font-size: 19px !important;
    margin: 30px 0px 0px 0px !important;
  }
  .aboutus-terms-condition-title{
    margin: 30px 0px 17px 0px !important;
  }
  .aboutus-client-folder {
    width: 228px !important;
    padding: 35px 0px !important;
  }
  .aboutus-client-numbers span {
    font-size: 24px !important;
  }
  .aboutus-client-numbers a {
    font-size: 22px !important;
  }
  .aboutus-client-folder h2 {
    font-size: 18px !important;
  }
  .aboutus-client-conatiner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--left {
    transform: translateX(0);
  }
  .scroll-arrow {
    position: absolute;
    bottom: 1%;
  }
}
/* responsive end */