@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

.same_width {
  margin: 0 10px;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.banner-image img{
  width: 100%;
  height: 720px;
  display: block;
}
.banner-container{
  position: relative;
}
.banner-title-folder{
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.banner-left-section{
  width: 45%;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 246px;
  padding-bottom: 50px;
}
.banner-title {
  font-size: 150px;
  width: 450px;
  margin-right: 0px;
  margin-left: auto;
  background: url(/src/Componants/images/banner-image2.webp) 0 0 / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-right-section h2 {
  font-size: 150px;
  width: 520px;
  text-align: end;
  color: white;
}
.banner-des-conatiner {
  display: flex;
  gap: 40px;
  max-width: 383px;
  margin: 0px auto 0px auto;
  color: white;
}
.banner-des-folder1 h2{
  font-size: 27px;
}
.banner-des-folder2 h2{
  font-size: 27px;
  margin-bottom: 5px;
}
.banner-des-folder2 p{
  font-size: 14px;
  line-height: 19px;
}
.banner-right-section {
  width: 55%;
  display: flex;
  align-items: center;
=======

.container {
  margin: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
}

.img-div {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.about_us_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about_us_wrapper img {
  width: 315px;
  max-width: 100%;
  height: 280px;
}

.about_us_content p {
  max-width: 300px;
  text-align: justify;
  margin-left: 50px;
  line-height: 2;
  font-size: 18px;
}

.about_us_title h2 {
  font-size: 30px;
  font-weight: bold;
}

.about_us_title span {
  margin-top: 5px;
}

.about_us_right {
  position: relative;
}

.about_us_right img.image {
  position: absolute;
  bottom: -50%;
  left: -60%;
}